<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="right">
      <h4 class="navbar-brand center-align">&copy; 2017 Site by Joe Muto</h4>
    </div>
  </div><!-- /.container-fluid -->
</nav>