{% extends 'base.html.twig' %}

{% block content %}
  
  <div id="app" style="border-radius: 10px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <h1 style="text-align: center;">Lets play!!</h1>
    
    <div class="row">
      <div class="col m4" style="text-align: center">
        <h5>
          Computer
        </h5>
        <img src="https://vignette2.wikia.nocookie.net/bigbangtheory/images/d/de/Dr_sheldon_cooper.jpg/revision/latest?cb=20120314055518" alt="Sheldon Cooper" style="height:100px;">
        <h5 style="margin-top: 20px;"><span id="computer" style="visibility: hidden; font-family: cursive"></span></h5>
      </div>
      
      <div class="col m4">
        <h5 style="margin-top: 50px; text-align: center;">
          <span id="result" style="visibility:hidden; font-family: cursive"></span>
          <br>
          <br>
          <span id="winner" style="visibility: hidden; font-family: cursive"></span>
        </h5>
      </div>
      
      <div class="col m4" style="text-align: center">
        <h5>
          Player
        </h5>
        <img src="http://www.cartoonbucket.com/wp-content/uploads/2015/08/Spongebob-Weared-Big-Specs.jpg" alt="Spongebob Weared Big Specs" style="height:100px;">
        <br>
        <button id="play" type="submit" class="btn btn-med blue waves-effect" style="margin-top: 20px;" onclick="play()" disabled>Play Again</button>
      </div>
    </div>
    
    <div id="option-btns" class="row" style="text-align: center">
      <label>Choose One</label>
      <div>
        <button id="rock" type="submit" class="btn btn-med blue waves-effect" onclick="shoot(this.id)">Rock</button>
        <button id="paper" type="submit" class="btn btn-med blue waves-effect" onclick="shoot(this.id)">Paper</button>
        <button id="scissors" type="submit" class="btn btn-med blue waves-effect" onclick="shoot(this.id)">Scissors</button>
        <button id="spock" type="submit" class="btn btn-med blue waves-effect" onclick="shoot(this.id)">Spock</button>
        <button id="lizard" type="submit" class="btn btn-med blue waves-effect" onclick="shoot(this.id)">Lizard</button>
      </div>
    </div>
    
    <div class="row" style="text-align: -webkit-center;">
      <div class="m12" style="text-align: -webkit-center; width: 80%;">
        <table id="table" class="table table-striped" style="display: none">
          <thead>
          <tr>
            <th>Player</th>
            <th>Games</th>
            <th>Ties</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Rock</th>
            <th>Paper</th>
            <th>Scissors</th>
            <th>Spock</th>
            <th>Lizard</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Player</td>
            <td>10</td>
            <td>2</td>
            <td>5</td>
            <td>3</td>
            <td>3</td>
            <td>2</td>
            <td>1</td>
            <td>3</td>
            <td>2</td>
          </tr>
          <tr>
            <td>Computer</td>
            <td>10</td>
            <td>2</td>
            <td>3</td>
            <td>5</td>
            <td>2</td>
            <td>1</td>
            <td>3</td>
            <td>2</td>
            <td>3</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
  
  <script>
    var options = ['rock', 'paper', 'scissors', 'spock', 'lizard'];
    var computer_option = '';
    var player_option = '';
    
		function play() {
			alert(getComputersOption());
			document.getElementById("play").disabled = true;
			document.getElementById("option-btns").style.visibility = "visible";
			$('#computer').text('').css("visibility", "hidden");
			$('#result').text('').css("visibility", "hidden");
			$('#winner').text('').css("visibility", "hidden");
		}
		
		function shoot(id) {
			alert(getComputersOption());
			$('#computer').text('Paper').css("visibility", "visible");
			document.getElementById("play").disabled = false;
			document.getElementById("option-btns").style.visibility = "hidden";
			$('#table').show();
			$('#result').text('Paper covers Rock').css("visibility", "visible");
			$('#winner').text('Player Wins').css("visibility", "visible");
		}
		
		var getComputersOption = function() {
			computer_option = Math.floor((Math.random() * 5));
			
			for (var i = 0; i < options.length; i++) {
				someFn(arr[i]);
			}
			
			return computer_option;
		}
    
  </script>
{% endblock %}

